{% extends "node--external-resource--search-result.html.twig" %}
{% import "@judicial_portal/_icons.twig" as icons %}

{% block logo %}
  <div class="col-sm-4">
    {{ content.field_video_embed }}
  </div>
{% endblock logo %}

{% block tags %}
  <div class="tags text-muted">
    <span class="document-date">
      {{ node.field_date[0].date|date('d M Y')|t }}
    </span>
    <span class="type">
      {{ icons.get('tag', base_path ~ directory, '', 20, 20) }}
      {{ 'Video'|t }}
      in
      {% for key, value in node.field_topic %}
        {% if key > 0 %}
          {{ ', ' }}
          {{ value }}
        {% endif %}
        {{ value.entity.name.value }}
      {% endfor %}
    </span>
  </div>
{% endblock %}

{% block url %}
  <a href="{{ node.field_video_embed.value }}" target="_blank">
    {{ icons.get('link-icon', base_path ~ directory, '', 25, 25) }}
  </a>
{% endblock url %}
